$color_dark_green: #00550b;
$color_green: green;
$color_red: #ff0000;
$break_width: 480px;

/* generic stuff */
html {
  font-size: 100%;
  width: 100%;

  @media all and (max-height: 600px) {
    font-size: 75%;
  }

  @media all and (max-width: 800px) {
    font-size: 75%;
  }

  @media all and (max-height: 400px) {
    font-size: 50%;
  }
}

body {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-weight: 600;
  width: 100%;
}

h1 {
  font-size: 5rem;
  @media all and (max-width: 900px) {
    font-size: 4rem;
  }
  @media all and (max-width: $break_width) {
    font-size: 2rem;
  }
}

p, span, a {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 150%;
  @media all and (max-width: $break_width) {
    font-size: 130%;
  }
  line-height: 1.3em;
}

a, a:visited {
  color: white;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 65vh;
}

button {
  background-color:white;
  border-radius: 1em;
  border: none;
  width: 15rem;
  height: 4.5rem;
  font-size: 2em;
  cursor: pointer;
  margin-top: 2em;
}

input {
  height: 4rem;
  max-width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  font-size: 2rem;
  color: white;
  padding-left: .5em;

  &:focus {
    border-bottom: 2px solid white;
    outline-width: 0;
  }
  &::placeholder {
    color: rgba(255, 255, 255, .5);
  }

  @media all and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

.leftalign {
  display: inline-block;
  text-align: left;
}

#root_container {
  width: 100%;
  height: 400%;
  position: relative;
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 2em;
  &.reverse {
    flex-direction: row-reverse;
  }
  > .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    @media all and (max-width: $break_width) {
      display: block;
      width: 100%;
      flex: 0 1 auto;
      padding: 1em;
    }
  }
}

@media all and (max-width: $break_width) {
  .no-mobile, .no-mobile * {
    display: none;
  }
}
@media all and (max-height: 600px) {
  .no-mobile, .no-mobile * {
    display: none;
  }
}

/* specific stuff */

#logo {
  max-height: 100%;
  max-width: 70%;
}

@mixin skew($color, $angle, $top: -4em) {
    &::after {
      content: '';
      display: block;
      background-color: $color;
      position: absolute;
      height: 8em;
      width: 100%;
      top: $top;
      left: 0;
      transform: skewY($angle);
      transform-origin: 50%;
      z-index: 10;
      @media all and (max-width: $break_width) {
        display:none;
      }
    }
}

header {
  position: absolute;
  top: 0;
  height: 8em;
  padding: 1em;
  width: 100%;
  background-color: $color_dark_green;
  z-index: 11;
  > * {
    position: relative;
    z-index: 12;
    vertical-align: middle;
    padding-left: 1em;
    padding-right: 1em;
  }
  > img {
    max-height: 90%;
  }

  @include skew($color_dark_green, -2deg, 30px)
}

#play {
  background-color: $color_green;
  padding-top: 100px;
}

#plan {
  background-color: $color_dark_green;
  @include skew($color_dark_green, 2deg);
}

#discover {
  background-color: $color_green;
  @include skew($color_green, -2deg);
}

#find {
  background-color: $color_dark_green;
  @include skew($color_dark_green, 2deg);
}

#ball_container {
  $bounce_height: 50px;
  position: absolute;
  bottom: 100px;
  right: 50px;
  > img:first-child { //shadow
    position: absolute;
    top: 10+$bounce_height;
    left: 3px;
  }
  > img:last-child {
    @keyframes bounce {
      0% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
      }
      50% {
        transform: translateY($bounce_height);
        animation-timing-function: ease-out;
      }
      100% {transform: translateY(0px)}
    }
    position: relative;
    animation: bounce 1.5s infinite;
  }
  $shadow_offset: 60;
  > img:first-child {
    @keyframes shadow_bounce {
      0% {
        width: 30px;
        left: $shadow_offset + px;
        animation-timing-function: ease-in;
      }
      50% {
        width: 50px;
        left: $shadow_offset + -2px;
        animation-timing-function: ease-out;
      }
      100% { width: 30px; left: $shadow_offset + px }
    }
    position: relative;
    animation: shadow_bounce 1.5s infinite;
  }
}
