body {
  background-image: url('../assets/desktop-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 auto 0;
  padding: 1em;

  @include media(">medium") {
    width: 90%;

  }
}

.contact-section {
  .contact-section__title--title {
    font-size: 80px;
    margin: 0;
  }
}

.contact-section {

}

//temp

img.toggle {
  width: 300px;
  margin: 0 auto;
}
