body {
  background: url('../assets/desktop-bg.svg') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

main {
  margin: 0 auto 0;
  padding: 1em;

  @include media(">medium") {
    width: 90%;

  }
}

.contact-section {
  .contact-section__title--title {
    font-size: 64px;
    margin: 0;
    font-weight: 600;
  }

  .contact-section__subtitle {
    margin-top: 56px;
  }
}

.contact-section {

}

.navigation {
  a {
    color: $white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 12px;
    font-weight: 600;

    &.active {
      border-bottom: 2px solid $white;
    }
  }
}

.discover__description {
  font-size: 34px;
  font-weight: 600;
}

.footer__text {
  text-align: center;

  @include media(">large") {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

//temp

img.toggle {
  width: 300px;
  margin: 0 auto;
}
