.header {
  padding: 3em 2em 1em;
  transform: rotate(-2deg) translateY(-50px);

  .header__content {
    display: flex;
    align-items: center;
    transform: rotate(2deg);

    .header__content--logo {
      max-width: 60px;
    }

    .header__content--title {
      margin-left: 20px;
      text-transform: uppercase;
    }

    .header__content--page-title {
      margin-left: 40px;
    }
  }
}
