
.landscape {
  @include bp(max, $tablet) {
    display: none !important;
  }
}

.portrait {
  @include bp(min, $tablet) {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  @include bp(min, $phone) {
    background: url("../assets/SSBG.svg");
  }
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
}


.toggle {
  display: none;

  &.active {
    display: block;
  }
  @include bp(max, $phone) {
    display: block;
  }
}

.mobile {
  display: none;
  @include bp(max, $phone) {
    display: block;
  }
}

.no-mobile {
  display: block;
  @include bp(max, $phone) {
    display: none !important;
  }
}

.container.mobile {
  padding: 0;

  > div {
    padding: 1em;
    height: 100%;
  }

  > div:nth-child(even) {
    background-color: $color_dark_green;
  }

  > div:nth-child(odd) {
    background-color: $color_green;
  }
}

.col-1-1-1 {
  display: flex;
  flex-wrap: wrap;

  > div {
    width: 33.3%;
    @include bp(max, $tablet) {
      width: 50%;
    }
    @include bp(max, $phone) {
      width: 100%;
    }
  }
}

.logo {
  display: inline-block;
}

.container {
  width: 100%;
  padding: 1em;
}

.brand {
  text-align: center;
}

.company-info h3 {
  text-align: center;
  margin: 0;
}
