$color_dark_green: #00550b;
$color_green: green;
$color_red: #ff0000;

$color-pri-green: #009F36;
$color-pri-darkgreen: #005537;

$white: #fff;
$gold: #FFD700;



// Media Queries
// -------------------------------------------------

// Devices

$phablet:	    600px;
$tablet:	    960px;
$desktop:		1280px;
$widescreen:    1440px;

// $phone-port:    580px;
// $phone-land:	690px;
// $tablet-port:	768px;
// $tablet-land:	1024px;``
// $desktop:		1280px;
// $widescreen:    1600px;
